html, body {
	height: 100%;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	background: #000000;
	color: #ffffff;
	padding: 60px;
}

.table {
	margin-top: 30px;
	> tbody {
		> tr {
			> td {
				vertical-align: middle;
				border: none;
				font-size: 16px;
			}
		}
	}
}

.container-fluid {
	overflow: hidden;
	position: relative;
	height: 100%
}

